@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato|Roboto');

@font-face {
    font-family: 'Interstate';
    src: url('_images/interstate-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: white;
}

 #preso,
.slide {
    width: 1440px !important;
    height: 900px !important; 
}
.content {
  color: #959B99;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  background-color: white;
}

.title {
  background-color: #1392FE;
}

.title h1 {
  color: #959B99;
  font-family: 'Lato';
  font-size: 110px;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  background-color: white;
  padding-top: 20%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

.subsection {
  background-color: #1392FE;
}

.subsection h1 {
  color: white ;
  font-size: 90px;
  font-variant: normal;
}

.black {
  background-color: #191919;
}

.black h1 {
  color: #1392FE ;
  font-size: 90px;
  font-variant: normal;
}

.grey {
  background-color: #6F7474;
}

.grey h1 {
  color: white ;
  font-size: 90px;
  font-variant: normal;
}

h1 {
  color: #1392FE ;
  font-family: 'Interstate';
  font-size: 55px;
  padding-left: 40px;
  padding-top: 30px;
  font-weight: 900;
}

h2 {
  color: #F37F0A ;
  font-family: 'Interstate';
  font-size: 45px;
  font-weight: 900;
  border-bottom: none;
  padding-left: 60px;
  padding-top: 20px;
}

code {
  border: 2px solid #9d9d9d;
  border-radius: 4px;
  border-spacing: 2px, 2px, 2px, 2px;
  padding-bottom: 2px;
  font-family: 'Inconsolata', monaco, monospace;
  font-size: 35px;
  color: #595959;
  font-style: normal;
  background: #fcfcfc;
}

.content:not(.cover) h1:not(.section_title) {
  border-bottom: 0px solid #222;
}

.psadminlogo {
  padding-top: 5%;
  padding-bottom: 10%;
}

.subsection a {
  color: white;
}

#hamburger:hover {
  background-color: #1392FE;
}